body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    padding: 10px 0;
}

.header-images {
    display: flex;
    justify-content: space-around;
}

.header-images img {
    width: 30%; 
    height: auto; 
}

main {
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.produto {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px; /* Largura fixa para os produtos */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.produto img {
    width: 100%; /* Imagem do produto ocupa toda a largura do cartão */
    height: auto; /* Mantém a proporção das imagens */
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
}